{
    "channel": "#zabbix",
    "curl_flags": "--insecure",
    "jira_host": "https://192.168.1.123:8888",
    "nick": "zabbixbotty",
    "port": "6667",
    "real": "Zabbix IRC Bot",
    "server": "irc.freenode.net",
    "user": "zabbix",
    "reload_users": ["some", "users"],
    "jira_receiver_port": "8013",
    "jira_receiver_url": "/jira-webhook",
    "jira_receiver_server_header": "Jira receiver"
}
